.sl
*.sw?
.DS_Store
.idea
node_modules
target
*.swp
.watched_file_hashes.sqlite
archive/
TODO
sealab/
local/
.secrets/
ansible/**/*.unenc
containers/www.natalie.wtf/nginx.conf.d/overrides/
containers/www.natalie.wtf/logs
containers/analbumcover.natalie.wtf/config/.spotify_token_cache.json
containers/analbumcover.natalie.wtf/config/analbumcover.config.json
containers/natifications.natalie.wtf/config/natifications.toml
ansible_test/
